@import "../../SCSS/utilities";

.feedback {
    @include flex(column, center, center);
    gap: 1rem;

    .icon {
        svg {
            fill: $scnd-clr;
        }
    }

    .feed {
        @include font(#fff, 1.4rem, 400);
        text-align: center;
        padding: 0.5rem;
        font-style: italic;
        line-height: 2.5;
    }

    div {
        .name {
            @include font(#fff, 1.3rem, 400);
            text-align: center;
        }

        .role {
            @include font(#c3c6d0, 1.4rem, 400);
            text-align: center;
            font-style: italic;
        }

    }
}