@import "./utilities";

.aboutus {
    background-color: $prm-clr;

    section {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5rem;
        align-items: center;
        overflow-x: hidden;

        .about-info {
            @include flex(column, center, flex-start);
            gap: 2rem;

            .subsubtitel {
                @include font($scnd-clr, 1.2rem, 600)
            }

            .titel {
                @include font(#fff, 3rem, 500);

                span {
                    @include font($scnd-clr, 2.7rem, 500);
                }
            }

            .subtitel {
                @include font(#c3c6d0, 1.12rem, 400)
            }

            .about-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;

                .about {
                    @include flex(row, space-between, flex-start);
                    gap: 1rem;

                    .icon {
                        padding: 0.5rem;
                        border-radius: 0.3rem;
                        // border: 1px red solid;
                        background-color: #09aff426;
                    }

                    .info {
                        .titel {
                            @include font(#fff, 1.5rem, 500);
                        }

                        .subtitel {
                            @include font(#c3c6d0, 0.85rem, 400)
                        }
                    }
                }
            }

            .about-control {
                @include flex(row, space-between, center);
                gap: 13rem;

                button {
                    @include flex(row, space-between, center);
                    gap: 1rem;
                    cursor: pointer;
                    background-color: $scnd-clr;
                    border: 3px $scnd-clr solid;
                    padding: 1rem 3rem;
                    @include font(#fff, 1rem, 600);
                    border-bottom-left-radius: 1rem;
                    border-top-right-radius: 1rem;

                    &:hover {
                        background-color: transparent;
                    }
                }

                .signature {
                    @include flex(column, center, center);

                    img {
                        width: 90%
                    }

                    p {
                        @include font($scnd-clr, 1rem, 400);
                    }
                }
            }


        }

        .about-img {
            width: 100%;

            img {
                width: 80%;
            }
        }
    }

    section.about2 {
        padding: 10rem 0;
        @include flex(row, space-between, center);
        gap: 3rem;

        img {
            width: 50% !important;
        }

        .content {
            @include flex(column, center, flex-start);
            gap: 2rem;


            .subsubtitel {
                @include font($scnd-clr, 1.2rem, 600)
            }

            .titel {
                @include font(#fff, 2.5rem, 500);

                span {
                    @include font($scnd-clr, 2.7rem, 500);
                }
            }

            .subtitel {
                @include font(#c3c6d0, 1.12rem, 400)
            }

            .ch {
                @include flex(row, center, flex-start);
                gap: 2.5rem;

                .num {
                    @include font($scnd-clr, 3rem, 800)
                }

                .desc {
                    .titel {
                        @include font(#fff, 1.5rem, 500)
                    }

                    .subtitle {
                        @include font(#c3c6d0, 0.9rem, 400)
                    }


                }

            }

            button {
                @include flex(row, space-between, center);
                gap: 1rem;
                cursor: pointer;
                background-color: $scnd-clr;
                border: 3px $scnd-clr solid;
                padding: 1rem 3rem;
                @include font(#fff, 1rem, 600);
                border-bottom-left-radius: 1rem;
                border-top-right-radius: 1rem;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}