@import 'utilities';

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.home {
    height: 100vh;
    background-image: linear-gradient(-45deg, #2b1b71 40%, #141d43cf 40%, #141d43cf 40%, #141d43cf 40%, #141d43cf 40%), url("../assets/images/pattern-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;



    .showcase {
        @include flex(row, space-between, center);
        gap: 4rem;

        .infos {
            @include flex(column, center, flex-start);
            gap: 2rem;

            .sc-list {
                @include flex(row, space-between, center);
                gap: 2rem;

                li {
                    list-style-type: none;

                    svg {
                        fill: #fff;

                        &:hover {
                            fill: $scnd-clr;
                            transform: translateY(-5PX)
                        }

                    }

                }
            }

            p.subsubtitel {

                @include font($scnd-clr, 1.3rem, 500)
            }

            p.titel {
                @include font(#fff, 2.7rem, 700);

                span {
                    color: $scnd-clr;
                    text-decoration: $scnd-clr wavy underline;
                    text-underline-offset: 1rem;
                }
            }

            p.subtitel {
                @include font(#c3c6d0, 1.1rem, 500)
            }

            .home-control {
                @include flex(row, space-between, center);
                gap: 2rem;

                button {
                    cursor: pointer;
                }

                .start {
                    background-color: transparent;
                    border: 3px $scnd-clr solid;
                    padding: 1rem 3rem;
                    @include font($scnd-clr, 1.3rem, 600);
                    border-bottom-left-radius: 1rem;
                    border-top-right-radius: 1rem;

                    &:hover {
                        background-color: $scnd-clr;
                        @include font(#fff, 1.3rem, 600);
                    }
                }

                .play {
                    background-color: $scnd-clr;
                    border-radius: 50%;
                    padding: 1rem;
                    border: none;

                    &:hover {
                        transform: scale(0.9);
                    }
                }
            }
        }

        .img-wrapper {

            will-change: transform;
            transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
        }

        img {
            width: 700px;

        }
    }

}